name: Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+-custom"
      - "[0-9]+.[0-9]+-custom-r[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-custom"
      - "[0-9]+.[0-9]+.[0-9]+-custom-r[0-9]+"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            rust-target: x86_64-unknown-linux-gnu
          - os: macos-12
            rust-target: x86_64-apple-darwin
          - os: macos-12
            rust-target: aarch64-apple-darwin
    env:
      xcode_version: 14.2
      macosx_sdk: macosx13.1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set RUST_TARGET
        run: echo 'RUST_TARGET=${{ matrix.rust-target }}' >> $GITHUB_ENV

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: ${{ matrix.rust-target }}

      - name: Setup Xcode for macOS
        if: matrix.os == 'macos-12'
        run: sudo xcode-select -s '/Applications/Xcode_${{ env.xcode_version }}.app'

      - name: Setup GNU make for macOS
        if: matrix.os == 'macos-12'
        run: |
          brew install make
          echo "$(brew --prefix)/opt/make/libexec/gnubin" >> $GITHUB_PATH

      - name: Set environment variables for Apple Silicon
        if: matrix.rust-target == 'aarch64-apple-darwin'
        run: |
          export SDKROOT=$(xcrun -sdk ${{ env.macosx_sdk }} --show-sdk-path)
          [[ -n $SDKROOT ]] && echo "SDKROOT=$SDKROOT" >> $GITHUB_ENV
          export MACOSX_DEPLOYMENT_TARGET=$(xcrun -sdk ${{ env.macosx_sdk }} --show-sdk-platform-version)
          [[ -n $MACOSX_DEPLOYMENT_TARGET ]] && echo "MACOSX_DEPLOYMENT_TARGET=$MACOSX_DEPLOYMENT_TARGET" >> $GITHUB_ENV

      - name: Build
        run: make

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "*.tar.xz"
          allowUpdates: true
